
nav {
    margin-top: 0;
    background-color: black;
    height: 30px;
}

nav a:hover {
    background-color: white;
    color: #212121;
    height: 30px;
}

li {
    display: inline;
    list-style-type: none;
    margin-right: 50px;
    margin-top: 15px;
}

a {
    color: white;
    text-decoration: none;
}

.footer{
    font-size: small;
    text-align: center;
    background-color: black;
    color: white;
    margin-top: 2%;
}