body {
    font-family: Arial, Helvetica, sans-serif;
}

header img {
    width: 100%;
    height: 60vh
}
nav {
    background-color: black;
    padding: 1px 0px;
}
nav a:hover {
    background-color: whitesmoke;
    padding: 10px 3px;
    border-radius: 5px;
    color: #212121;
}

#menu li {
    display: inline;
    list-style-type: none;
    margin-right: 35px;
    margin-top: 15px;
}

nav a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}
#menu{
    background-color: #474646;
}


nav #direita{
    float: right;
}

.footer {
    font-size: small;
    text-align: center;
    background-color: black;
    padding: 15px;
    color: white;

}