header img {
    width: 100%;
    height: 60vh
}
#menu nav {
    background-color: black;
    padding: 1px 0px;
    margin-bottom: 10px;
}
#notificacao{
    background-color: rgb(189, 20, 20);
    padding: 1px;
    margin-top: 5px;
    margin-bottom: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    text-align: center;
    font-size: 16px;
}
nav a:hover {
    background-color: whitesmoke;
    padding: 10px 3px;
    border-radius: 5px;
    color: #581e00;
}
nav a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}


nav #direita{
    float: right;
}

#menu li {
    display: inline;
    list-style-type: none;
    margin-right: 35px;
    margin-top: 15px;
}

.footer {
    margin-top: 10px;
    font-size: small;
    text-align: center;
    background-color: black;
    padding: 15px;
    color: white;

}
body{
    background-color: #E4D1B9;
    font-family: Roboto, Arial, sans-serif;
    font-size: medium;
}
h4{
    color: #581e00;
}
h3{
    color: #581e00;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even){background-color: #e9d2b4}

th {
    background-color: #581e00;
    color: #581e00;
}
tr:hover {background-color: #956769;}